body{
    animation: BodyAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes BodyAnimation {
    0% {
        background-color: rgb(73, 73, 73);
    }
    100% {
        background-color: black;
    }
}

@keyframes fadeInAnimation {
    0% {
        color: rgb(0, 0, 0);
    }
   
    100% {
        color: white;
    }
}

#about_section h1{
    font-size: 150px;
    margin: 5rem 9rem 5rem 10rem;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#about_section p{
    width: 60vw;
    margin: auto;
    color: rgb(92, 92, 92);
    padding: 30px;
    font-size: 30px;
}

#about_section p a {
    text-decoration: none;
    color: brown;
    
}

#about_section p a:hover {
    color: rgb(255, 0, 0);
}

#about_section h1:hover,
#about_section p:hover {
    color: rgb(255, 254, 254);
}