{% extends "base.html" %}
{% load static %}

{% block css_link %}
    <link rel="stylesheet" href="{% static "mywebpage/home.css" %}">
{% endblock %}



{% block title %}Home{% endblock  %}


{% block content %}

<section class="section">

    <div id = "intro_section">

        <a href="{% url "about" %}"><h2>Hello</h2></a>
        <a href=""><p id="welcome">Welcome to my page...</p></a>
        <a href=""><p id="i_am">I am </p></a>
        <a href=""><h3>Gururaj</h3></a>

    </div>
    <div id = "img_section">
        <img src = "{% static "mywebpage/images/myimage.jpg" %}" alt = "my image">
    </div>
</section> 

{% endblock %}
        
        
{% block javascript %}{% endblock %}